.header{
	background-color: #fcdfae;
	text-align: center;
	/*height: 10vh;*/
  padding: 30px;


}
.ping{
}
#ping{
/*margin-top: 20px;*/




}


.text{
	background-color: #a00000;
	height: 100vh;

}
.main{
	background-color: #167a2b;
	height: 90vh;
	margin-top: 85px;
}
#about{
	text-align: center;
	margin-top: 20px;
}
#text{
	color: #aa8714;
    font-size:30px;
}
.main2{

	height: 100vh;
	margin-left: 30px;
	margin-top: 50px;

}
body{
	
	background-image: url("../images.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh
	width: 100vh;
}
